.dynamic-icon {
  font-size: 2rem; /* Default size for small screens */

  @media (min-width: 640px) {
    font-size: 2.5rem; /* Adjust size for medium screens */
  }

  @media (min-width: 768px) {
    font-size: 3rem; /* Adjust size for large screens */
  }

  @media (min-width: 1024px) {
    font-size: 4rem; /* Adjust size for extra-large screens */
  }

  @media (min-width: 1280px) {
    font-size: 5rem; /* Adjust size for even larger screens */
  }
}
